// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: bottom;
  padding: 150px 0;
  height: 600px;
  margin-bottom: 40px;

  h1 {
    color: white;
    font-size: 45px;
    font-family: 'DM Serif Display', serif !important;
  }

  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  .btn {
    padding: 15px 50px;
  }
}

.container {
  margin-left: 50px;
}

.float-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.float-child {
  padding: 20px;
}

h1 {
  margin-top: 50px;
}
