<div class="banner" style="background-image: linear-gradient(201.23deg, rgba(121, 79, 250, 0.105) 8.75%, rgba(121, 79, 250, 0.75) 121.25%), url('<%= image_path 'banner.png' %>')">
  <div class="container">
    <h1>Mentor Hub</h1>
    <p>Knowledge doesn't retire</p>
  </div>
</div>
