<%= render "shared/banner" %>
<div class="container">
  <h1>About us</h1>
  <p>
    We match young professionals with recent retirees who still have more to
    give.
  </p>
  <div class="float-container">
    <div class="float-child">
      <h2>Become a mentee</h2>
      <p>Being new in an industry can be daunting and it's easy to feel left behind when left to your own devices.
        Connect with someone with industry experience and let them help you with that next step in your career!
      </p>
      <button>Register now</button>
    </div>
    <div class="float-child">
      <h2>Become a mentor</h2>
      <p>If you are recently retired or have experience in your field, why not share you expertise with the younger generation?
        Giving back is one of the most rewarding things you can do, especially if you have some extra time on our hands.
      </p>
      <button>Register now</button>
    </div>
  </div>
</div>
