<%= render "shared/banner" %>
<div class="container">
  <div>
    <h1 style="color: rgb(61, 60, 60)">About us</h1>
  <p style="color: rgb(61, 60, 60)">
    We match young professionals with recent retirees who still have more to
    give. Boredom and lack of purpose are some of the biggest issues faced by recent retirees. We created Mentor Hub
    to help combat this and connect different generations. Knowledge is one of our most valuable resources and we want to
    help people share that.
  </p>
  </div>
  <div class="float-container">
    <div class="float-child">
      <div>
        <h2 style="color: rgb(61, 60, 60)">Become a mentee</h2>
        <img src="https://res.cloudinary.com/dvauxokiu/image/upload/v1670420072/5216607_fldja5.jpg" alt="Mentee" height= "350px" style="margin-left: 50px">
        <p style="color: rgb(61, 60, 60)">Being new in an industry can be daunting and it's easy to feel left behind when left to your own devices.
          Connect with someone with industry experience and let them help you with that next step in your career!
        </p>
      </div>
      <%= link_to "Register now", new_user_registration_path(mentor: false), class: "purple-button" %>

    </div>
    <div class="float-child">
      <div>
        <h2 style="color: rgb(61, 60, 60)">Become a mentor</h2>
        <img src="https://res.cloudinary.com/dvauxokiu/image/upload/v1670421558/4889596_ecprlf.jpg" alt="Mentee" height= "350px" style="margin-left: 90px">
        <p style="color: rgb(61, 60, 60)">If you are recently retired or have experience in your field, why not share you expertise with the younger generation?
          Giving back is one of the most rewarding things you can do, especially if you have some extra time on our hands.
        </p>
      </div>
      <%= link_to "Register now", new_user_registration_path(mentor: true), class: "purple-button" %>
    </div>
  </div>
</div>
