.purple-button {
  background-color: #C8B6FF;
  border: none;
  color: rgb(53, 51, 51);
  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  height: 41px;
  width: auto;
}

.purple-button:hover {
  text-decoration: none;
  color: white;
  background-color: #aa91f7;
}

.dark-button {
  background-color: #794FFA;
  border: none;
  color: white;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
}

.dark-button:hover {
  text-decoration: none;
  color: white;
  background-color: #5c2fe0;
}

.yellow-button {
  background-color: #f1d328;
  border: none;
  font-weight: lighter;
  color: rgb(59, 57, 57);
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  height: 41px;
  width: auto;
}

.yellow-button:hover {
  text-decoration: none;
  color: rgb(59, 57, 57);
  background-color: #d7bc22;
}

.buttons-box {
  gap: 10px;
}

.purple-button-outline {
  background-color: white;
  border: 1.5px solid #C8B6FF;
  color: rgb(53, 51, 51);
  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.purple-button-outline:hover {
  text-decoration: none;
  color: white;
  background-color: #aa91f7;
}

.yellow-button-outline {
  color: white;
  background-color: #F7DC4A;
  border: 1.5px solid  #F7DC4A;
  color: rgb(53, 51, 51);
  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.yellow-button-outline:hover {
  text-decoration: none;
  background-color: white;
  border: 1.5px solid  #F7DC4A;
}
