.calendar-heading {
  display: flex;
  justify-content: center;
}

.col-3 {
  border: #acabae;
  background-color: white;
  padding: 20px;
  margin-top: 60px;
  font-size: large;
  height: fit-content;

  p {
    font-size: 24px;
    text-decoration: underline;
  }
}

.calendar-title {
  margin: 0 10px;
  align-self: center;
  font-size: 24px;
  font-weight: bold;
}

.calendar-link {
  a {
    all: unset;
    cursor: pointer;
    font-size: 24px;
    color: #794ffa;
    text-align: center;
  }
}

.simple-calendar {
  margin-right: 50px;
  margin-bottom: 150px;
  margin-top: 30px;
  background-color: white;
}


#pending {
  color: #C8B6FF;

}

#accepted {
  color: #794ffa;
}

#declined {
  color: #acabae;
  opacity: 0.4;
}

.prev-month {
  color: #ccc;
}

.next-month {
  color: #ccc;
}

.action-buttons {
  padding-left: 10px;
}
