.calendar-heading {
  display: flex;
  justify-content: center;
}

.calendar-title {
  margin: 0 10px;
  align-self: center;
}

.calendar-link {
  a {
    all: unset;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: #794ffa;
    text-align: center;
  }
}

.simple-calendar {
  margin-right: 50px;
  margin-bottom: 200px;
}


#pending {
  color: #C8B6FF;

}

#accepted {
  color: #794ffa;
}

#declined {
  color: #C8B6FF;
  opacity: 0.4;
}

.col-3 {
  margin-top: 100px;
  font-size: large;
}
