.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  justify-content: space-evenly;
  margin-top: 1em;
  &::after {
    content: "";
    flex: auto;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card {
  width: 400px;
  overflow: hidden;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card h3 {
  color: #794FFA;
}

.card h5 {
  color: #7e7d81;
}

.cards a {
  // color: rgb(20, 3, 3);
  color: #794FFA;
  text-decoration: none;
}

.cards a:hover{
  color: #3822BE;
}

.card .card-infos {
  padding-left: 16px;
  padding-bottom: 16px;
}

.card-infos a {
  font-size: 20px;
  opacity: .7;
  margin: 0;
  padding-left: 10px;
  text-align: center;
}

.card-infos h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.card-infos p {
  padding-left: 10px;
}

.card-btn {
  padding-top: 10px;
  display: flex;
  position: absolute;
  right: 76px;
  top: 219px;
  width: 100px;
  gap: 25px;
}

.show-card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #794FFA;
}

.cards-match {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.card-match {
  width: 700px;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  padding-bottom: 30px;
}

.card-match-info {
  padding-top: 20px;
}

.card-match h3 {
  padding-top: 40px;
  text-align: center;
  color: #794FFA;
}

.card-match h5 {
  padding-top: 15px;
  text-align: center;
  color: #7e7d81;
}

.card-match-info p {
  padding-left: 34px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Match CARDS

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-match {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-match {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-match {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
