a {
  text-decoration: none;
  color: #646464;
}

.fa-paper-plane {
  font-size: 24px;
}
#recent {
  margin-top: 20px;
  color: #794FFA;
}

.fa-paper-plane::before {
  color: #794FFA;
}
.chatroom {
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h2 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    color:#794FFA;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  .avatar {
  width: 40px;
  height: 40px;
}
  .author {
    .d-block {
      float: right;
    }
    .message-content {
      background: #c3b3f1 none repeat scroll 0 0;
      padding: 10px;
      color: #646464;
      font-size: 14px;
      border-radius: 20px;
      min-width: 300px;
      margin-right: 10px;
      margin-bottom: 20px;
    }

  }

  .receiver {
    .message-content{
      background: #ebebeb none repeat scroll 0 0;
      padding: 5px;
      color: #646464;
      font-size: 14px;
      border-radius: 20px;
      min-width: 300px;
      margin-left: 10px;
      margin-bottom: 20px;
    }

  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
